<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="width: 100%; color:black; margin: 0; padding:0; display:flex; flex-direction:column; align-items: center; justify-content: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    <div style="width:800px;">
        <h2 style="font-size:1.5rem; text-transform: capitalize; padding: 0;margin: 0;">
            Prove [your app] identity
        </h2>
        <div style="border:solid 1px rgb(201, 200, 200);"></div>
        <h3 style="font-size:1.1rem; color:rgb(73, 73, 73); margin-bottom:0;">
            Dear [Recipient Name],
        </h3>
        <img src="https://content-management-files.canva.com/cdn-cgi/image/f=auto,q=70/55b8da28-414c-47eb-b58f-5c055e77660c/magic-photo_resources_Freeonlineimageconverter_2x.png" alt="" style="width: 100%;">
        <p style="font-weight:400; font-size:0.95rem; margin-bottom:0;">
            We have received a login request for your [app name] account. For security purposes, please verify your 
            identity by providing the following One-Time-Password(OTP).
        </p>
        <h4 style="font-size:0.9rem; font-weight:600; margin-bottom:5px;">
            Your One-Time-Password(OTP) Varification code is:
        </h4>
        <div style="width:100%; text-align: center; display: flex; align-items: center;" >
            <button style="font-size:1rem; font-family:600;">
                <%= otp %>
            </button>
        </div>
        <h5 style="margin-top:5px; margin-bottom:0; font-size:0.9rem;">
            One-Time-Password valid for 3 minutes.
        </h5>
        <p style="margin-bottom:1px; font-size:0.95rem;">
            If you did not initiate this login request. Please disregard this message. Please ensure the confidentially
            of your OTP and do not share with anyone.
        </p>
        <h5 style="margin-top:0; font-size:0.9rem;">Do not forward or give this OTP to anyone.</h5>
        <h5 style="margin:0; font-size:0.9rem;">Thank you for using [App Name].</h5>
        <p style="margin-bottom:0; font-size:0.95rem;">Best regards,</p>
        <h5 style="margin-top:0; font-size:0.9rem;">[Company Name]</h5>
        <div style="border:solid 1px rgb(167, 164, 164);"></div>
        <p style="font-size:0.825rem; color:grey; margin-bottom:2px;">This mail can't receive replies</p>
        <p style="font-size:0.825rem; margin-top:0; color:grey;">
            For more information about [App Name] and your account visit[Name]
        </p>
        <div style="width:100%; display: flex; flex-direction: row; align-items: center; justify-content:center; color: rgb(77, 77, 77);">
            <div style="display:block; width: 100%; font-size:0.8rem; font-weight:550; margin-bottom:0; text-align: center;">
                This email was sent to <span style="color: rgb(4, 156, 4); font-size:0.9rem;">
                    <%= email %>
                </span>
            </div>
            <div style="display: block; color:gray; margin:0; font-size:0.8rem; color: rgb(77, 77, 77);">
                <span style="color: rgb(4, 156, 4);">[Company Name]</span>,
                <span>[Address], [Zip Code/Pin Code], [Country Name]</span>
            </div>
            <br>
            <div style="display:block; font-size:0.8rem; margin:0; color: rgb(77, 77, 77);">
                ⓒ2023[Company Name]. All rights reserved.
            </div>
        </div>
    </div>
</body>
<script>
    const codeElement = document.getElementsByClassName('code')[0];
    codeElement.addEventListener('click',async (e)=>{
        await navigator.clipboard.writeText(e.target.innerText);
    })
</script>
</html>